# Essential
.git
.env

# Windows
*.lnk
*.db
*.ini

# Temp/cache/logs
.jekyll-metadata
.sass-cache
.jekyll-cache
.rspec_status
vendor
*.log
*.map
*/tmp
*/cache

# Working files/dirs
.bundle
vendor
.yardoc
_yardoc
coverage
doc
pkg
spec/reports
.vscode

# RSpec
.rspec_status
